
/* Variables */

//brand colors
$brand: #6ba442;
$lime: #bdd73d;
$green: #008653;
$tan: #dddb91;
$slate: #a4b5ba;


//grays
$ultra-light: #F5F5F5;
$light: #D8D8D8;
$medium-light: #9B9B9B;
$medium: #828282;
$medium-dark: #555555;
$dark: #293f46;


//utility colors
$error: #ff4a4a;


//sizes
$nav-height: 100px;
$nav-height-md: 90px;
$nav-drop: $nav-height;
$nav-drop-after: $nav-height - 1px;
$nav-height-mobile: 80px;
$sitewide-alert-height: 60px;
$container-fluid-max-width: none;
$container-fluid-padding: 40px;
$container-fluid-padding-md: $container-fluid-padding / 2;
$container-fluid-padding-mobile: 15px;
$container-fluid-sum: $container-fluid-padding * 2;
$container-fluid-sum-mobile: $container-fluid-padding-mobile * 2;


//transitions
$modal-transition: .35s;


//breakpoints
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;


//site
$body-background-color: white;

$font-main: 'Untitled Sans Test', Helvetica, Arial, Sans-serif;
$font-italic: 'Untitled Sans Test', Helvetica, Arial, Sans-serif;
$font-bold: 'Untitled Sans Test', Helvetica, Arial, Sans-serif;
$font-bold-italic: 'Untitled Sans Test', Helvetica, Arial, Sans-serif;
$font-light: 'Untitled Sans Test', Helvetica, Arial, Sans-serif;
$font-light-italic: 'Untitled Sans Test', Helvetica, Arial, Sans-serif;
$font-secondary: 'Fugue', Georgia, Times New Roman, Serif;
$font-secondary-italic: 'Fugue', Georgia, Times New Roman, Serif;
$font-secondary-bold: 'Fugue', Georgia, Times New Roman, Serif;
$font-secondary-bold-italic: 'Fugue', Georgia, Times New Roman, Serif;
