
/* Variables */

//brand colors
$brand: #6ba442;
$lime: #bdd73d;
$green: #008653;
$aqua: darken(#0f798f,3%);
$dark-green: #263a15;
$tan: lighten(#dddb91,10%);
$slate: #a4b5ba;


//grays
$dark: #2a3f46;
$ultra-light: #F5F5F5;
$light: lighten($brand,45%);
$light: desaturate($light, 30%);
$medium-light: #9B9B9B;
$medium: lighten($dark, 34%);
$medium: desaturate($medium, 12%);
$medium-dark: #555555;


//utility colors
$error: lighten(#ea4444,5%);


//sizes
$nav-height: 80px;
$nav-height-md: 90px;
$nav-height-after: 80px;
$nav-drop: $nav-height;
$nav-drop-after: $nav-height - 1px;
$nav-height-mobile: 60px;
$sitewide-alert-height: 50px;
$container-fluid-max-width: none;
$container-fluid-padding: 80px;
$container-fluid-padding-md: 40px;
$container-fluid-padding-mobile: 15px;
$container-fluid-sum: $container-fluid-padding * 2;
$container-fluid-sum-mobile: $container-fluid-padding-mobile * 2;


//transitions
$modal-transition: .4s;


//breakpoints
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;


//site
$body-background-color: white;

$font-main: 'UntitledSansWeb-Regular', Helvetica, Arial, Sans-serif;
$font-italic: 'UntitledSansWeb-RegularItalic', Helvetica, Arial, Sans-serif;
$font-bold: 'UntitledSansWeb-Bold', Helvetica, Arial, Sans-serif;
$font-bold-italic: 'UntitledSansWeb-BoldItalic', Helvetica, Arial, Sans-serif;
$font-light: 'Untitled Sans Test', Helvetica, Arial, Sans-serif;
$font-light-italic: 'Untitled Sans Test', Helvetica, Arial, Sans-serif;
$font-secondary: 'raisonne-demibold', Georgia, Times New Roman, Serif;
$font-secondary-italic: 'raisonne-demibold-italic', Georgia, Times New Roman, Serif;
$font-secondary-bold: 'raisonne-demibold', Georgia, Times New Roman, Serif;
$font-secondary-bold-italic: 'raisonne-demibold-italic', Georgia, Times New Roman, Serif;


