@import "strip-units__helper.scss";
@import "responsive-breakpoints__list.scss";
@import "_responsive-query__mixin.scss";

//uncomment this line to use the original type-size list. otherwise, the type-sizes will be defined in the type-sizes.scss file in the scss directory
// @import "type-size__list-defualt.scss";

/* --------------------------------------------------------
The mixin
Takes in the name of a variable list with 2 px values. The default value is $regular.
If non-existent variables are used as arguments, the mixin will throw an error.
-------------------------------------------------------- */

@mixin text-size($fs-map: $regular, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $keyNumber in $fs-map {

    @if map-has-key($fs-breakpoints, $fs-breakpoint) {
    } @else {
      @warn "Breakpoints have not been defined correctly";
    }

    // @debug $fs-breakpoint;
    // @debug $keyNumber;

    $fontSize: nth($keyNumber, 1);
    $leading: nth($keyNumber, 2);
    $leading-unitless: calc(#{strip-unit($leading)} / #{strip-unit($fontSize)});

    // @debug $fontSize;
    // @debug $leading;
    // @debug $leading-unitless;

    @include respond-above($fs-breakpoint) {
      font-size: $fontSize;
      line-height: $leading-unitless;
    };
  }
}
