

// STRUCTURE //

$sb-width: 360px;
$sb-padding: 20px;
$sb-mobile-toggle-height: 80px;

.page-id-187{
	#nav-background{
		background-image: none;
		background-color: $brand;
	}
}

.artworks-main{
	width: calc( 100% - #{$sb-width} );
	margin-top: $nav-height;
	padding: 50px $sb-padding*2 100px $sb-padding*2;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-150%) rotateY(0deg) scale(.5);
	transition: all 1s;

	@media screen and (max-width: $lg) {
		padding: $sb-padding;
	}
	@media screen and (max-width: $sm) {
		width: 100%;
		margin-top: $nav-height-mobile + $sb-mobile-toggle-height;
		padding: 30px $sb-padding/2;
	}
}

.artworks-view-map{
	#artworks-map{
		position: relative;
		transition: all 1s;
		transition-delay: .25s;
		transform: translateX(0) rotateY(0) scale(1);
	}
}

.artworks-view-thumbnails{
	#artworks-thumbnails{
		position: relative;
		transition: all 1s;
		transition-delay: .25s;
		transform: translateX(0) rotateY(0) scale(1);
	}
}

.artworks-view-list{
	#artworks-list{
		position: relative;
		transition: all 1s;
		transition-delay: .25s;
		transform: translateX(0) rotateY(0) scale(1);
	}
}

#artworks-map-map{
	height: calc( 80vh - #{$nav-height} - #{$sb-padding*4});
	margin-bottom: $sb-padding*2;
	border-radius: $sb-padding/2;
	border: 2px solid $medium;
}

#artworks-thumbnails{
	min-height: calc( 100vh - #{$nav-height} );
}

#artworks-list{
	min-height: calc( 100vh - #{$nav-height} );
}



// ARTWORK ITEM DEFAULT

.artwork-item{

	.artwork-item-image{
		border-radius: 7px 7px 0px 0px;
		box-shadow: 0px 0px 2px 0px $medium;
		@media screen and (max-width: $md) {
			border-radius: 3px 3px 0px 0px;
		}
	}

	.artwork-item-text{
		padding: $sb-padding;
		background: lighten( $light, 6% );
		border-radius: 0px 0px 7px 7px;
		box-shadow: 0px 1px 3px 0px $medium;
		position: relative;
		top: -0px;
		transition: background .05s;

		@media screen and (max-width: $md) {
			padding: $sb-padding/2;
			border-radius: 0px 0px 3px 3px;
		}
	}

	h4{
		transition: color .05s;
	}

	.artwork-item-title{
		@extend .font-main;
		color: $dark;
		@extend .bold;
		margin-bottom: 15px;
		@extend .italic;

		@media screen and (max-width: $md) {
			font-size: 15px;
		}
		@media screen and (max-width: $sm) {
			font-size: 13px;
		}
	}

	.artwork-item-artist,.artwork-item-location,.artwork-item-year{
		@extend .font-main;
		color: $dark;
		font-size: 18px;
		margin-bottom: 0;

		@media screen and (max-width: $md) {
			font-size: 14px;
		}
		@media screen and (max-width: $sm) {
			font-size: 12px;
		}
	}

	.artwork-item-artist{
		display: inline-block;
	}

	.artwork-item-year{
		display: inline-block;
		&:before{
			content: ',\00a0';
			display: inline-block;
		}
	}

	&:hover{
		.artwork-item-text{
			transition: background .05s;
			background: $aqua !important;
			*{
				transition: color .05s;
				color: white;
			}
		}
	}

}


// MAP

.ws-map-popup-float-wrapper{
	width: 300px;
	filter: drop-shadow(0px 1px 5px $dark);

	@media screen and (max-width: $sm) {
		width: 150px;
	}
}

.ws-map-popup-frame{
	//box-shadow: 0px 1px 10px 3px $medium;
}

.ws-map-popup-content-wrapper{
	padding: 0;
}

.ws-map-popup-close-button {
	color: white;
	opacity: 1;
	text-shadow: 0px 0px 3px $dark;
}

.ws-map-popup-pointer-background-top{
	border-top-color: lighten( $light, 6% );

}

.ws-map-popup-content{

	.artwork-item-text{
		padding: 10px;
		border-radius: 0;
	}

	.artwork-item-image{
		border-radius: 0;
	}
	
	.artwork-item-title{
		font-size: 15px;
	}	

	.artwork-item-artist,.artwork-item-year,.artwork-item-location{
		font-size: 13px;
	}

}


//THUMBNAILS

#artworks-thumbnails{
	#artworks-thumbnails-row{
		column-count: 3;
		column-gap: 2vw;

		@media screen and (max-width: $lg) {
			column-count: 2;
		}

		@media screen and (max-width: $sm) {
			column-gap: 15px;
		}
	}

	.artwork-item{
		margin-bottom: $sb-padding*2;
		display: inline-block;
		transition: transform .2s;

		@media screen and (max-width: $md) {
			margin-bottom: $sb-padding;
		}
	}
}


//LIST

.artworks-list-list{
	padding-left: 20px;
	padding-right: 20px;

	@media screen and (max-width: $sm) {
		padding-left: 10px;
		padding-right: 10px;		
	}

	.artwork-item{
		@extend .row;

		&:nth-child(even){
			.artwork-item-text{
				background: none;
			}
		}

		.artwork-item-link{
			display: block;
			width: 100%;
		}

		.artwork-item-image{
			display: none;
		}

		.artwork-item-text{
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			width: 100%;
			border-radius: 0;
			box-shadow: none;
			padding-top: 20px;
			padding-bottom: 20px;
			background: lighten($tan,10%);

			@media screen and (max-width: $md) {
				padding-bottom: 20px;
			}
		}

		.artwork-item-year{
			@media screen and (min-width: $sm+1) {
				&:before{
					content: '';
				}
			}
		}

		h4{
			margin-bottom: 0;
			position: relative;
			top: 4px;
		}

		.artwork-item-title{
			top: 0;
			@extend .col-lg-4;
			@extend .col-md-3;

			@media screen and (max-width: $md) {
				padding-left: 10px;
				padding-right: 10px;
			}
			@media screen and (max-width: $sm) {
				width: 100%;
				display: block;
				margin-bottom: 10px;

			}
		}

		.artwork-item-artist{
			@extend .col-lg-3;
			@extend .col-md-3;

			@media screen and (max-width: $md) {
				padding-left: 10px;
				padding-right: 10px;
			}
			@media screen and (max-width: $sm) {
				display: inline-block;
				width: auto;
				padding-right: 0;
			}
		}

		.artwork-item-year{
			@extend .col-lg-2;
			@extend .col-md-3;

			@media screen and (max-width: $md) {
				padding-left: 10px;
				padding-right: 10px;
			}
			@media screen and (max-width: $sm) {
				display: inline-block;
				width: auto;
				padding: 0;
			}

		}

		.artwork-item-location{
			@extend .col-lg-3;
			@extend .col-md-3;

			@media screen and (max-width: $md) {
				padding-left: 10px;
				padding-right: 10px;
			}
			@media screen and (max-width: $sm) {
				width: 100%;
				display: block;
			}
		}

	}
}

.artworks-list-header{
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;

	.row{
		border-bottom: 2px solid $medium;
	}

	.col-md-3{
		@media screen and (max-width: $md) {
			padding: 10px;
		}
	}

	h4{
		@media screen and (max-width: $lg) {
			font-size: 13px;
		}
	}

	@media screen and (max-width: $sm) {
		display: none;
	}

}


