
.single-artwork-hero-gradient{
	background: -moz-linear-gradient(top, rgba(107,164,66,1) 0%, rgba(107,164,66,0) 60%);
	background: -webkit-linear-gradient(top, rgba(107,164,66,1) 0%,rgba(107,164,66,0) 60%);
	background: linear-gradient(to bottom, rgba(107,164,66,1) 0%,rgba(107,164,66,0) 60%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ba442', endColorstr='#006ba442',GradientType=0 );
}

$hero-offset: 60px;

.single-artwork-hero{
	background: none;
	height: calc( 100vh - #{$hero-offset} );
}


.single-artwork-gallery{

	&:after{
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@extend .single-artwork-hero-gradient;
	}
	z-index: 1;
	//border: 10px solid red;

	.slick-dots{
		bottom: 150px;
		z-index: 3;

		@media screen and (max-width: $sm) {
			bottom: 100px;
		}
		&:hover{
			cursor: pointer;
		}
		li{
			&.slick-active button{
				background: $aqua;
				border-width: 0px;
				width: 18px;
				height: 18px;
			}
		}
		button{
			width: 18px;
			height: 18px;
			padding: 4px;
			background: $light;
			border: 2px solid $aqua;
		}

	}

	.slick-arrow{
		z-index: 4;
	}
}

.single-artwork-slide{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: calc( 100vh - #{$hero-offset} );
}



//METADATA 


.single-artwork-description-container{
	@media screen and (max-width: $md) {
		//display: flex;
		order: 2;
	}
	@media screen and (max-width: $sm) {
		display: block;
	}
}
.single-artwork-metadata-container{
	@media screen and (max-width: $md) {
		//display: flex;
		order: 1;
		margin-bottom: 30px;
	}
	@media screen and (max-width: $sm) {
		display: block;

		.row{
			margin-bottom: .25em;
		}
	}
}

.single-artwork-intro{

	.single-artwork-meta-label, .single-artwork-meta-value{
		@extend .font-main;
		font-size: 17px;
		@media screen and (max-width: $md) {
			font-size: 14px;
		}
	}

	.single-artwork-meta-label{
		color: $medium;
		word-wrap: normal;
		font-size: 15px;
		@extend .uppercase;
		@extend .tracked-less;
		font-weight: 700;
		@media screen and (max-width: $md) {
			font-size: 13px;
		}
	}
}


#single-artwork-map{
	width: 100%;
	max-width: 560px;
	height: 250px;

	@media screen and (max-width: $md) {
		height: 200px;
		max-width: none;
	}
}

.single-artwork-images-container{
	column-count: 2;
	column-gap: 2px;
	//column-gap: 2vw;

	@media screen and (max-width: $sm) {
		column-count: 1;
	}

	div{
		//margin-bottom: 2vw;
		margin-bottom: 2px;

		@media screen and (max-width: $sm) {
			margin-bottom: 20px;
		}
	}
}

.single-artwork-video{
	height: 0;
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
	display: inline-block;
	width: 100%;

	iframe{
		@extend .background;
	}
}

.single-artwork-related-container{
	column-count: 3;
	column-gap: 2vw;

	@media screen and (max-width: $sm) {
		column-count: 1;
	}

	div{
		margin-bottom: 2vw;

		@media screen and (max-width: $sm) {
			margin-bottom: 20px;
		}
	}
}