

// STRUCTURE //

$sb-width: 360px;
$sb-padding: 20px;
$sb-mobile-toggle-height: 80px;

.page-id-187{
	#nav-background{
		background-image: none;
		background-color: $brand;
	}
}

#artworks-messages{
	padding: 50px $sb-padding*2 0px $sb-padding*2;
	margin-top: $nav-height;
	width: calc( ( 100vw - (100vw - 100%) ) - #{$sb-width} );
	position: relative;
	z-index: 5;
	display: none;

	@media screen and (max-width: $lg) {
		padding: $sb-padding;
	}

	@media screen and (max-width: $sm) {
		width: 100%;
		padding: 30px $sb-padding/2 10px $sb-padding/2;
		margin-top: $nav-height-mobile + $sb-mobile-toggle-height;
	}

	*{
		color: darken($error, 20%);
	}

	.artworks-messages-container{
		background: lighten($error, 30%);
		border-radius: 10px;
		padding: $sb-padding 60px $sb-padding $sb-padding;
		position: relative;
	}

	.messages-link{
		display: inline;
		text-decoration: underline;

	}

	.artworks-messages-close{
		position: absolute;
		top: 50%;
		right: 30px;
		margin-top: -15px;
		margin-right: -15px;
		height: 30px;
		width: 30px;
		display: none;

		@media screen and (max-width: $sm) {
			height: 20px;
			width: 20px;
			right: 10px;
			margin-right: -10px;
		}
	}
}

.artworks-error-on{
	#artworks-messages{
		display: block;
	}

	.artworks-main{
		margin-top: 0;
	}

	.artworks-list-list-header .artworks-list-header{
		top: auto;
	}

}

#artworks-track{
	//width: calc( 300vw - #{$sb-width*3} );
	width: calc( ( 300vw - (300vw - 300%) ) - #{$sb-width*3} );
	display: flex;
	@extend .align-items-start;

	@media screen and (max-width: $sm) {
		width: 300vw;
	}
}

.artworks-main{
	width: calc( 100vw - (100vw - 100%) -  #{$sb-width} );
	margin-top: $nav-height;
	padding: 50px $sb-padding*2 100px $sb-padding*2;
	display: inline-block;

	@media screen and (max-width: $lg) {
		padding: $sb-padding;
	}
	@media screen and (max-width: $sm) {
		width: 100%;
		margin-top: $nav-height-mobile + $sb-mobile-toggle-height;
		padding: 30px $sb-padding/2;
	}

	&#artworks-map{
		@media screen and (max-width: $sm) {
			padding-top: 20px;
		}
	}
}

.artworks-view-map{
	#artworks-track{
		transition: all 1s;
		transform: translateX(0);
	}
}

.artworks-view-thumbnails{
	#artworks-track{
		transition: all 1s;
	}
}

.artworks-view-map{
	#artworks-track{
		transition: all 1s;
		transform: translateX( calc( (100vw - #{$sb-width}) * -1 ));
		@media screen and (max-width: $sm) {
			transform: translateX( -100vw );
		}
	}

	&.has-scrollbar{
		#artworks-track{
			transform: translateX( calc( ((100vw - #{$sb-width}) * -1 ) + 15px) );
		}		
	}
}

.artworks-view-list{
	#artworks-track{
		transition: all 1s;
		transform: translateX( calc( (200vw - #{$sb-width*2}) * -1 ));
		@media screen and (max-width: $sm) {
			transform: translateX( -200vw );
		}
	}

	&.has-scrollbar{
		#artworks-track{
			transform: translateX( calc( ((200vw - #{$sb-width*2}) * -1 ) + 30px) );
		}		
	}

	.artworks-list-list-header{
		transition: all .3s;
		transition-delay: .7s;
		opacity: 1;

		.artworks-list-header{
			top: $nav-height;
		}
	}
}

#artworks-map-map{
	height: calc( 80vh - #{$nav-height} - #{$sb-padding*4});
	margin-bottom: $sb-padding*2;
	border-radius: $sb-padding/2;
	border: 2px solid $medium;

	@media screen and (max-width: $sm) {
		height: calc( 100vh - #{$nav-height} - #{$sb-mobile-toggle-height} - 80px);
		margin-bottom: $sb-padding;
	}
}



// ARTWORK ITEM DEFAULT

.artwork-item{

	// &.artwork-active{
	// 	border: 1px solid red;
	// }

	.artwork-item-link{
		display: block;
	}

	&.artwork-hidden{
		display: none !important;
	}

	.artwork-item-image{
		border-radius: 5px 5px 0px 0px;
		box-shadow: 0px 0px 2px 0px $medium;
		@media screen and (max-width: $md) {
			border-radius: 3px 3px 0px 0px;
		}
	}

	.artwork-item-text{
		padding: $sb-padding;
		background: lighten( $light, 6% );
		border-radius: 0px 0px 5px 5px;
		box-shadow: 0px 1px 2px 0px lighten( $medium, 10% );
		position: relative;
		top: -0px;
		transition: background .05s;

		@media screen and (max-width: $md) {
			padding: $sb-padding/2;
			border-radius: 0px 0px 3px 3px;
		}
	}

	h4{
		transition: color .05s;
	}

	.artwork-item-title{
		@extend .font-main;
		color: $dark;
		@extend .bold;
		margin-bottom: 15px;
		@extend .italic;

		@media screen and (max-width: $md) {
			font-size: 15px;
		}
		@media screen and (max-width: $sm) {
			font-size: 13px;
		}
	}

	.artwork-item-artist,.artwork-item-location,.artwork-item-year{
		@extend .font-main;
		color: $dark;
		font-size: 18px;
		margin-bottom: 0;

		@media screen and (max-width: $md) {
			font-size: 14px;
		}
		@media screen and (max-width: $sm) {
			font-size: 12px;
		}
	}

	.artwork-item-artist{
		display: inline-block;
	}

	.artwork-item-year{
		display: inline-block;
		&:before{
			content: ',\00a0';
			display: inline-block;
		}
	}

	&:hover{
		.artwork-item-text{
			transition: background .05s;
			background: $aqua !important;
			*{
				transition: color .05s;
				color: white;
			}
		}
	}

}


// MAP

.ws-map-popup-float-wrapper{
	width: 300px;
	filter: drop-shadow(0px 1px 5px $dark);

	@media screen and (max-width: $lg) {
		width: 200px;
	}

	@media screen and (max-width: $md) {
		width: 150px;
	}


	
}

.ws-map-popup-wrapper-top{
	margin-top: -70px;
	margin-left: -2px;

	&:hover{
		.ws-map-popup-pointer-background-top{
			border-top-color: $aqua;
		}
	}
}

.ws-map-popup-frame{
	//box-shadow: 0px 1px 10px 3px $medium;

}

.ws-map-popup-content-wrapper{
	padding: 0;
}

.ws-map-popup-close-button {
	color: white;
	opacity: 1;
	text-shadow: 0px 0px 3px $dark;
	transition: all .2s;
	transform: rotate(0deg);

	&:hover{
		opacity: 1;
		transition: all .2s;
		transform: rotate(180deg);
	}
}

.ws-map-popup-pointer-background-top{
	border-top-color: lighten( $light, 6% );
	
}

.ws-map-popup-content{

	.artwork-item-text{
		padding: 10px;
		border-radius: 0;
	}

	.artwork-item-image{
		border-radius: 0;
	}
	
	.artwork-item-title{
		font-size: 15px;
	}	

	.artwork-item-artist,.artwork-item-year,.artwork-item-location{
		font-size: 13px;
	}

}


//THUMBNAILS

#artworks-thumbnails{
	#artworks-thumbnails-row{
		column-count: 2;
		column-gap: 2vw;

		@media screen and (max-width: $lg) {
			column-count: 2;
		}

		@media screen and (max-width: $sm) {
			column-gap: 15px;
		}
	}

	.artwork-item{
		margin-bottom: $sb-padding*2;
		display: inline-block;
		transition: transform .2s;

		@media screen and (max-width: $md) {
			margin-bottom: $sb-padding;
		}
	}
}


//LIST

.artworks-list-list{
	padding-left: 20px;
	padding-right: 20px;

	@media screen and (max-width: $sm) {
		padding-left: 10px;
		padding-right: 10px;		
	}

	.artwork-item{
		@extend .row;

		&.artwork-even{
			.artwork-item-text{
				background: lighten($tan,10%);
			}
		}

		// &.artwork-active:nth-of-type(odd) .artwork-item-text{
		// 	background: lighten($tan,10%);
		// }

		// &:nth-child(odd){
		// 	//border: 1px solid black;
		// 	.artwork-item-text{
		// 		background: lighten($tan,10%);
		// 	}
		// }

		.artwork-item-link{
			display: block;
			width: 100%;
		}

		.artwork-item-image{
			display: none;
		}

		.artwork-item-text{
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			width: 100%;
			border-radius: 0;
			box-shadow: none;
			padding-top: 20px;
			padding-bottom: 20px;
			background: none;

			@media screen and (max-width: $md) {
				padding-bottom: 20px;
			}
		}

		.artwork-item-year{
			@media screen and (min-width: $sm+1) {
				&:before{
					content: '';
				}
			}
		}

		h4{
			margin-bottom: 0;
			position: relative;
			top: 4px;
		}

		.artwork-item-title{
			top: 0;
			@extend .col-lg-4;
			@extend .col-md-3;

			@media screen and (max-width: $md) {
				padding-left: 10px;
				padding-right: 10px;
			}
			@media screen and (max-width: $sm) {
				width: 100%;
				display: block;
				margin-bottom: 2px;

			}
		}

		.artwork-item-artist{
			@extend .col-lg-3;
			@extend .col-md-3;

			@media screen and (max-width: $md) {
				padding-left: 10px;
				padding-right: 10px;
			}
			@media screen and (max-width: $sm) {
				display: inline-block;
				width: auto;
				padding-right: 0;
			}
		}

		.artwork-item-year{
			@extend .col-lg-2;
			@extend .col-md-3;

			@media screen and (max-width: $md) {
				padding-left: 10px;
				padding-right: 10px;
			}
			@media screen and (max-width: $sm) {
				display: inline-block;
				width: auto;
				padding: 0;
			}

		}

		.artwork-item-location{
			@extend .col-lg-3;
			@extend .col-md-3;

			@media screen and (max-width: $md) {
				padding-left: 10px;
				padding-right: 10px;
			}
			@media screen and (max-width: $sm) {
				width: 100%;
				display: block;
			}
		}

	}
}

.artworks-list-header{
	padding-left: 20px;
	padding-right: 20px;

	.row{
		border-bottom: 1px solid $dark;
	}

	.col-md-3{
		@media screen and (max-width: $md) {
			padding: 10px;
		}
	}

	h4{
		@media screen and (max-width: $lg) {
			font-size: 13px;
		}
	}

	@media screen and (max-width: $sm) {
		display: none;
	}

}

.artworks-list-list-header{
	opacity: 0;
	transition: all .3s;
	transition-delay: .7s;

	.artworks-list-header{
		position: fixed;
		top: 0;
		left: $sb-padding*2;
		padding-top: 39px;
		width: calc( 100vw - (100vw - 100%) - #{$sb-width} - #{$sb-padding*4} );
		height: 80px;
		z-index: 3;
		background: white;
		//transition: all .2s;

		@media screen and (max-width: $lg) {
			width: calc( 100vw - #{$sb-width} - #{$sb-padding*2} );
			height: 60px;
			left: $sb-padding;
			padding-top: 31px;
		}
		@media screen and (max-width: $md) {
			height: 80px;
		}
	}

}

#artworks-list{
	.artworks-list-list{
		margin-top: 30px;
		@media screen and (max-width: $lg) {
			margin-top: 40px;
		}
		@media screen and (max-width: $md) {
			margin-top: 60px;
		}
		@media screen and (max-width: $sm) {
			margin-top: 0;
		}
	}
}

