
.page-id-193{

	#blog-intro{
		padding-top: $nav-height-after;

		.page-hero-title{
			padding-top: 100px;
		}
	}
}

.blog-posts{
	order: 0;

	@media screen and (max-width: $md) {
		order: 1;
	}
}

.blog-sidebar{
	@media screen and (max-width: $md) {
		order: 0;
	}
}

.blog-posts-container{
	column-count: 2;
	column-gap: 20px;
	overflow: visible;

	@media screen and (max-width: $md) {
		column-count: 1;
	}
}

.card-post{
	display: inline-block;
	margin-bottom: 20px;
	transition: transform .1s;

	*{
		color: $dark;
	}

	.card-text{
		background: lighten($light,5%);
		transition: background .1s;
		padding: 1em;
	}

	.card-post-title a{
		font-weight: bold;
	}

	.post-categories{
		line-height: 1;

		a{
			font-size: 13px;
			@extend .uppercase;
			@extend .tracked-less;
			transition: transform .1s;
			display: inline-block;
			padding-left: 3px;
			margin-right: 1px;
			&:first-child{
				padding-left: 0;
			}

			&:hover{
				transform: scale(1.05);
			}
		}
	}

	&:hover{
		transform: scale(1.02);
		.card-text{
			background: $aqua;
			*{
				color: white;
			}
		}
	}

}




//filtering

.filter-target{
	display: none;
}

.filter-show{
	display: block !important;
}


.sidebar-heading{
	color: $medium;
	@extend .uppercase;
	@extend .tracked-less;
	font-size: 16px;

	@media screen and (max-width: $sm) {
		font-size: 14px;
	}
}

.sidebar-categories li{
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 7px;

	a{
		display: block;
		border: 1px solid $aqua;
		border-radius: 100px;
		font-size: 15px;
		text-transform: uppercase;
		padding: 3px 8px;
		transition: all .1s;

		@media screen and (max-width: $sm) {
			font-size: 13px;
			padding: 2px 6px;
		}

		&:hover{
			box-shadow: 0px 1px 3px 1px $aqua;
			transform: scale(1.05);
		}

		&.filter-active{
			background: $aqua;
			color: white;
			box-shadow: 0px 1px 3px 1px $aqua;

			&:hover{
				box-shadow: none;
				background: $light;
				color: $medium;
				border: 1px solid $medium;
			}
		}
	}
}


//single


.single-post{

	.hero-back{
		@extend .justify-content-start;
	}

	.hero-back-link{
		top: 0;

		@media screen and (max-width: $sm) {
			margin-bottom: 1em;
		}
	}

	.page-hero-title{
		padding-top: 25px;
		&.characters-low{
			@extend .h1;
		}
		&.characters-medium{
			@extend .h2;
		}
		&.characters-high{
			@extend .h3;
		}
	}	
}

.post-excerpt{
	font-size: 36px;
	@media screen and (max-width: $lg) {
		font-size: 30px;
	}
	@media screen and (max-width: $md) {
		font-size: 24px;
	}
	@media screen and (max-width: $sm) {
		font-size: 19px;
	}
}

.post-excerpt-container{
	@media screen and (max-width: $sm) {
		order: 2;
	}
}

.post-metadata{
	@media screen and (max-width: $sm) {
		order: 1;
		margin-bottom: 2em;
	}
}

.post-metadata-label{
	font-size: 16px;

	@media screen and (max-width: $sm) {
		font-size: 13px;
	}
}

.post-metadata-tags{
	li{
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 7px;

		@media screen and (max-width: $sm) {
			margin-bottom: 0;
		}

		a{
			display: block;
			border: 1px solid $aqua;
			border-radius: 100px;
			font-size: 13px;
			text-transform: uppercase;
			padding: 2px 7px;
			margin-bottom: 4px;
			transition: all .1s;

			@media screen and (max-width: $sm) {
				font-size: 13px;
				padding: 2px 6px;
				margin-bottom: 8px;
			}

			&:hover{
				transform: scale(1.05);
				background: $aqua;
				color: white;
			}
			
		}
	}
}

