
#donors{

	.donor{
		margin-bottom: .5em;
	}
	
	.donor-name{
		color: $dark;

		a{
			color: $dark;
		}
	}
}

.donation-appeal-quote{
	position: relative;
	z-index: 1;
	.quotation-mark-open{
		position: absolute;
		top: -15px;
		left: -30px;
		font-size: 150px;
		line-height: 125px;
		height: 50px;
		color: $tan;
		margin: 0;
		z-index: -1;

		@media screen and (max-width: $md) {
			font-size: 90px;
			left: -5px;
			top: -30px;
		}
	}
	.quotation-mark-close{
		position: absolute;
		bottom: 0;
		left: auto;
		font-size: 150px;
		line-height: 125px;
		height: 50px;
		color: $tan;
		margin: 0;
		z-index: -1;
		transform: translate(-30px,10px);

		@media screen and (max-width: $md) {
			font-size: 90px;
			transform: translate(-30px,0px);
		}
	}
}

#donation{
	.name_first,.name_last{
		float: left;
		width: 48%;
	}

	.name_first{
		margin-right: 2%;
	}

	.name_last{
		margin-left: 2%;
	}

	.ginput_container_name{
		@extend .clearfix;
	}

	.address_state, .address_zip{
		float: left;
		width: 48%;
	}

	.address_state{
		margin-right: 2%;
	}

	.address_zip{
		margin-left: 2%;
	}

	.ginput_card_expiration_month,.ginput_card_expiration_year{
		float: left;
		width: 48%;
	}

	.ginput_card_expiration_month{
		margin-right: 4%;
	}

	.ginput_cardinfo_left,.ginput_cardinfo_right{
		float: left;
	}

	.ginput_cardinfo_left{
		width: 60%;
		margin-right: 6%;
	}

	.ginput_cardinfo_right{
		width: 33%;
		//margin-left: 2%;
	}
}




