
#donors{

	.donor{
		margin-bottom: .5em;
	}
	
	.donor-name{
		color: $dark;

		a{
			color: $dark;
		}
	}
}

.donation-appeal-quote{
	position: relative;
	z-index: 1;
	.quotation-mark-open{
		position: absolute;
		top: -15px;
		left: -30px;
		font-size: 150px;
		line-height: 125px;
		height: 50px;
		color: $tan;
		margin: 0;
		z-index: -1;

		@media screen and (max-width: $md) {
			font-size: 90px;
			left: -5px;
			top: -30px;
		}
	}
	.quotation-mark-close{
		position: absolute;
		bottom: 0;
		left: auto;
		font-size: 150px;
		line-height: 125px;
		height: 50px;
		color: $tan;
		margin: 0;
		z-index: -1;
		transform: translate(-30px,10px);

		@media screen and (max-width: $md) {
			font-size: 90px;
			transform: translate(-30px,0px);
		}
	}
}

#donation{

	#field_3_3,#field_3_5{
		float: left;
		width: 48%;

		@media screen and (max-width: $sm) {
			float: none;
			width: 100%;
		}
	}

	#field_3_3{
		margin-right: 2%;
		@media screen and (max-width: $sm) {
			margin-right: 0;
		}
	}

	#field_3_5{
		margin-left: 2%;
		@media screen and (max-width: $sm) {
			margin-left: 0;
			margin-bottom: 2em;
		}
	}

	#field_3_1{
		&:before{
			display: block;
			content: '';
			width: 100%;
			height: 1px;
			clear: both;
		}
	}

	.name_first,.name_last{
		float: left;
		width: 48%;
	}

	.name_first{
		margin-right: 2%;
	}

	.name_last{
		margin-left: 2%;
	}

	.ginput_container_name{
		@extend .clearfix;
	}

	.address_state, .address_zip{
		float: left;
		width: 48%;
	}

	.address_state{
		margin-right: 2%;
	}

	.address_zip{
		margin-left: 2%;
	}

	.ginput_card_expiration_month,.ginput_card_expiration_year{
		float: left;
		width: 48%;
	}

	.ginput_card_expiration_month{
		margin-right: 4%;
	}

	.ginput_cardinfo_left,.ginput_cardinfo_right{
		float: left;
	}

	.ginput_cardinfo_left{
		width: 60%;
		margin-right: 6%;
	}

	.ginput_cardinfo_right{
		width: 33%;
	}

	.ginput_cardextras{
		@extend .clearfix;
	}

	.ginput_card_security_code_icon{
		display: none;
	}
}

.gform_wrapper div.gform_card_icon {
	margin-right: 4px;
	text-indent: -9000px;
	background-image: url(../images/gf-creditcard-icons.png);
	background-repeat: no-repeat;
	width: 36px;
	height: 32px;
	float: left;
}

.gform_card_icon_container{
	@extend .clearfix;
	margin-bottom: 1em;

	&:before{
		float: left;
		width: 200px; height: 35px;
		//border: 1px solid red;
		background-image: url('../images/paypal.png');
		background-size: contain;
		background-repeat: no-repeat;
		margin-right: 15px;
		//clear: both;
	}
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_amex {
	background-position: -72px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_discover {
	background-position: -108px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_mastercard {
	background-position: -36px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_visa {
	background-position: 0 0;
}

//temporary, delete
.gfield_creditcard_warning_message{
	display: none;
}



