

#paypal-iframe{
	height: 100vh;
	border: none;

	@media screen and (max-width: $xs) {
		transform: scale(.95);
		transform-origin: 0 0;
	}
}


#donors{

	.donor{
		margin-bottom: .5em;
	}
	
	.donor-name{
		color: $dark;

		a{
			color: $dark;
		}
	}
}

.donation-appeal-quote{
	position: relative;
	z-index: 1;
	.quotation-mark-open{
		position: absolute;
		top: -15px;
		left: -30px;
		font-size: 150px;
		line-height: 125px;
		height: 50px;
		color: $tan;
		margin: 0;
		z-index: -1;

		@media screen and (max-width: $md) {
			font-size: 90px;
			left: -5px;
			top: -30px;
		}
	}
	.quotation-mark-close{
		position: absolute;
		bottom: 0;
		left: auto;
		font-size: 150px;
		line-height: 125px;
		height: 50px;
		color: $tan;
		margin: 0;
		z-index: -1;
		transform: translate(-30px,10px);

		@media screen and (max-width: $md) {
			font-size: 90px;
			transform: translate(-30px,0px);
		}
	}
}

.donation-form{
	position: relative;
	z-index: 2;

	.paypal-button-form{
		width: 200px;
		margin: 0 auto;
		input{
			border: none;
		}
	}

	input[type="submit"]{
		display: block;
	}

	@media screen and (max-width: $sm) {
		order: 0;
		margin-bottom: 5em;
	}
}

.donation-appeal{
	@media screen and (max-width: $sm) {
		order: 2;
	}
}

.donation-loading{
	display: none;
	//position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	z-index: -0;
	background-image: url('../images/loading.gif');
	background-size: 60px 60px;
	background-position: center center;
	background-repeat: no-repeat;

	&.active{
		display: block;
	}
}

.iframe-loaded{
	padding: 0;
	.donation-form-inner{
		//background: rgb(251,251,251);

		iframe{

		}
	}
}

.donation-summary{
	display: none;
	padding: 0em 0 1em 15px;

	h4{
		background: #efefef;
		padding: 15px;
		width: 100%;
		max-width: 450px;
		//@extend .centered;
		@extend .h3;

		@media screen and (max-width: $xs) {
			max-width: 332px;
		}
	}

	&.active{
		display: block;
	}
}

.donation-form-error{
	//padding-top: 120px;
}

.donation-error,.gform_wrapper .validation_error{
	background: lighten($error, 30%);
	padding: 1em;
	margin-bottom: 2em;
	border-radius: 5px;

	*{
		color: darken($error, 20%);
	}
}

#donation{

	// #field_3_8,#field_3_5{
	// 	float: left;
	// 	width: 48%;

	// 	@media screen and (max-width: $sm) {
	// 		float: none;
	// 		width: 100%;
	// 	}
	// }

	#field_3_8{
		// margin-right: 2%;
		// @media screen and (max-width: $sm) {
		// 	margin-right: 0;
		// }

		.instruction{
			@extend .small;
			display: none;
		}
	}

	// #field_3_5{
	// 	margin-left: 2%;
	// 	@media screen and (max-width: $sm) {
	// 		margin-left: 0;
	// 		margin-bottom: 2em;
	// 	}
	// }

	#field_3_1{
		&:before{
			display: block;
			content: '';
			width: 100%;
			height: 1px;
			clear: both;
		}
	}

	.name_first,.name_last{
		float: left;
		width: 48%;
	}

	.name_first{
		margin-right: 2%;
	}

	.name_last{
		margin-left: 2%;
	}

	.ginput_container_name{
		@extend .clearfix;
	}

	.address_state, .address_zip{
		float: left;
		width: 48%;
	}

	.address_state{
		margin-right: 2%;
	}

	.address_zip{
		margin-left: 2%;
	}

	.ginput_card_expiration_month,.ginput_card_expiration_year{
		float: left;
		width: 48%;
	}

	.ginput_card_expiration_month{
		margin-right: 4%;
	}

	.ginput_cardinfo_left,.ginput_cardinfo_right{
		float: left;
	}

	.ginput_cardinfo_left{
		width: 60%;
		margin-right: 6%;

		@media screen and (max-width: $xs) {
			width: 100%;
		}
	}

	.ginput_cardinfo_right{
		width: 33%;
		@media screen and (max-width: $xs) {
			width: 48%;
		}
	}

	.ginput_cardextras{
		@extend .clearfix;
	}

	.ginput_card_security_code_icon{
		display: none;
	}
}

.gfield_visibility_hidden{
	display: none;
}

#field_3_11,#field_3_12{
	display: none !important;
}





.gform_wrapper div.gform_card_icon {
	margin-right: 4px;
	text-indent: -9000px;
	background-image: url(../images/gf-creditcard-icons.png);
	background-repeat: no-repeat;
	width: 36px;
	height: 32px;
	float: left;
}

.gform_card_icon_container{
	@extend .clearfix;
	margin-bottom: 1em;

	&:before{
		float: left;
		width: 200px; height: 35px;
		//border: 1px solid red;
		background-image: url('../images/paypal.png');
		background-size: contain;
		background-repeat: no-repeat;
		margin-right: 15px;
		//clear: both;

		@media screen and (max-width: $xs) {
			float: none;
			width: 160px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_amex {
	background-position: -72px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_discover {
	background-position: -108px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_mastercard {
	background-position: -36px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_visa {
	background-position: 0 0;
}

//temporary, delete
.gfield_creditcard_warning_message{
	display: none;
}


#ways-to-donate{

}

.donation-option{
	h4,p{
		max-width: 15em;
	}
}




//thank you

.thank-you-hero{
	height: 100vh;
}

.thank-you-intro-top{

}

.thank-you-text{
	@extend .background;
	z-index: 2;

	h1{
		font-size: 6vw;
		text-shadow: 2px 2px 4px rgba(30,30,30,.65);
		text-align: center;
		max-width: 8em;
		line-height: 1;

		@media screen and (max-width: $md) {
			font-size: 8vw;
		}

		@media screen and (max-width: $xs) {
			font-size: 9vw;
		}
	}

}

.thank-you-share-button{
	margin-top: 1em;
	background: $brand;
	color: white;
	@extend .h3;
	padding: 15px 30px;
	border-radius: 50px;
	transition: all .1s;

	&:hover{
		background: white;
		color: $brand;
	}
}


$speed: 1.8s;
$delay: 1.5s;

@keyframes thank-you { from { top: 30px; opacity: 0; transform: scale(.8); } to { top: 0; opacity: 1; transform: scale(1);} }

.thank-you-text-inner{
	position: relative;
	animation-fill-mode: forwards;
	animation: thank-you $speed ease $delay alternate 1 forwards running;	
}

