
.page-id-185{

	#events-intro{
		padding-top: $nav-height-after;

		.page-hero-title{
			padding-top: 100px;
		}
	}
}

.card-event{
	background: lighten( $light, 3% );	
	padding: 1em;
	width: 100%;

	*{
		color: $dark;
	}

	.event-title{
		max-width: 15em;
		margin-bottom: 1em;
		@extend .bold;
	}

	.card-event-link{
		color: $aqua;
		text-decoration: underline;
	}

	img{
		max-width: 480px;
	}
}