#viewport-label{ display: none; }

body{
	background-color: $body-background-color;
	// padding-top: 0;	

	// @media screen and (max-width: $md) {
	// 	padding-top: $nav-height-md;
	// }

	// @media screen and (max-width: $sm) {
	// 	padding-top: $nav-height-mobile;
	// }

	// &.sitewide-alert-on{
	// 	padding-top: $nav-height + $sitewide-alert-height;	
	// }

	// &.home.sitewide-alert-on{
	// 	padding-top: + $sitewide-alert-height;
	// }
}

*{
	word-wrap: break-word;
}


/* make bootstrap gutters smaller on small screens */
.row{
	@media screen and (max-width: $sm) {
		margin-left: -10px;
		margin-right: -10px;
	}

	&.row-full{
		margin: 0;
	}
}


#content{
	overflow: hidden;
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
	@media screen and (max-width: $sm) {
		padding-left: 10px;
		padding-right: 10px;
	}
}


.flex-center{
	@extend .d-flex;
	@extend .justify-content-center;
	@extend .align-items-center;
}



/* customize bootstrap container fluid parameters */
.container-fluid{
	max-width: $container-fluid-max-width;
	padding-left: $container-fluid-padding;
	padding-right: $container-fluid-padding;

	@media screen and (max-width: $lg) {
		padding-left: $container-fluid-padding-md;
		padding-right: $container-fluid-padding-md;
	}

	@media screen and (max-width: $sm) {
		padding-left: $container-fluid-padding-mobile;
		padding-right: $container-fluid-padding-mobile;
	}	

	&.container-fluid-stretch{
		max-width: none;
	}

	&.container-fluid-extend{
		padding-left: $container-fluid-padding - 15px;
		padding-right: $container-fluid-padding - 15px;

		@media screen and (max-width: $md) {
			padding-left: $container-fluid-padding-md - 15px;
			padding-right: $container-fluid-padding-md - 15px;
		}

		@media screen and (max-width: $sm) {
			padding-left: $container-fluid-padding-mobile - 15px;
			padding-right: $container-fluid-padding-mobile - 15px;
		}	
	}
}


/* sitewide section padding */

.section-padded{
	padding-top: 150px;
	padding-bottom: 200px;

	@media screen and (max-width: $md) {
		padding-top: 100px;
		padding-bottom: 150px;
	}

	@media screen and (max-width: $sm) {
		padding-top: 50px;
		padding-bottom: 75px;
	}
}

.section-header{
	margin-bottom: 100px;

	@media screen and (max-width: $md) {
		margin-bottom: 75px;
	}

	@media screen and (max-width: $sm) {
		margin-bottom: 50px;
	}
}


a{
	color: $aqua;

	&:hover{
		color: $aqua;
	}

	&:focus{
		outline: none;
		text-decoration: none;
	}

}

input{
	&:focus{
		outline: none;
	}
}

.bg-lime{
	background: $lime;
}

.lime{
	color: $lime;
}

.bg-tan{
	background: $tan;
}

.tan{
	color: $tan;
}

.bg-slate{
	background: $slate;
}

.slate{
	color: $slate;
}

.bg-green{
	background: $green;
}

.green{
	color: $green;
}

.bg-dark-green{
	background: $dark-green;
}

.dark-green{
	color: $dark-green;
}

.bg-aqua{
	background: $aqua;
}

.aqua{
	color: $aqua;
}



/* sitewide button styles */

$text-button: (
	xs: (12px, 12px),
	sm: (13px, 12px),
	md: (14px, 12px),
	lg: (15px, 12px),
	xl: (16px, 12px)
	);

.button{
	padding: 25px;
	font-family: $font-main;
	color: white;
	@extend .bold;
	@extend .uppercase;	
	@extend .tracked-less;
	display: inline-block;
	text-align: center;
	@include text-size($text-button);	
	background-image: url('../images/blob-button-aqua.svg');
	background-size: 100% 100%;

	&.button-small{
		padding: 5px 8px 2px 8px;
		font-size: 13px;
	}

	&.button-centered{
		margin: auto;
		display: block;
	}

	&.button-full{
		width: 100%;
		padding: 20px 0;
		border-radius: 0;
	}

	&:hover{
		background-image: url('../images/blob-button-aqua-hover.svg');
		cursor: pointer;
		color: white;
	}

	&:focus{
		outline: none;
		box-shadow: none;
	}

	@media screen and (max-width: $sm) {
		padding: 15px;
		font-size: 10px;
	}


}


/* LOADER */

.loader-icon {
	width: 50px;
	height: 50px;
	animation: spin 3s linear infinite;
	margin: 60px auto;
	display: none;

	&.active{
		display: block;
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}



//PAGINATION

.pagination{
	margin-top: 4vh;
	text-align: center;

	a,span{
		margin-left: 6px;
		margin-right: 6px;
		@extend .bold;
		padding: 4px;

		&.prev,&.next{
			font-family: 'modern_pictograms_proregular';
			font-size: 27px;
			position: relative;
			top: 2px;
		}

		&.prev{
			margin-right: 15px;
		}

		&.next{
			margin-left: 15px;
		}
	}

	span{
		color: $medium;
	}
}


//slick components(overrides scss/utilities/slick-components.scss)

.slick-arrow{
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 10px;
	z-index: 2;
	font-size: 0;
	height: 100px;
	width: 50px;
	background: none;
	border: none;
	outline: none;
	padding: 0;

	@media screen and (max-width: $md) {
		left: 0px;
		height: 80px;
		width: 30px;
		top: 50%;
		margin-top: -40px;
	}	

	&:hover{
		cursor: pointer;
	}

	&:focus{
		outline: none;
	}

	&:after{
		content: '‘';
		font-family: modern_pictograms_proregular;
		display: block;
		width: 50px;
		height: 100px;
		line-height: 100px;
		font-size: 90px;
		color: white;
		text-align: center;

		@media screen and (max-width: $md) {
			width: 30px;
			height: 80px;
			line-height: 80px;
			font-size: 60px;
		}			
	}

	&.slick-next{
		left: auto;
		right: 10px;

		@media screen and (max-width: $md) {
			right: 0;
		}			

		&:after{
			content: '—';			
		}

	}

}

.slick-dots{
	position: absolute;
	left: 50%;
	@include transform(translate(-50%,0));
	bottom: -30px;
	
	li{
		display: inline-block;
		margin-right: 10px;

		&.slick-active button{
			background: $medium-dark;
			border-width: 0px;
			width: 9px;
			height: 9px;
		}
	}

	button{
		background: none;
		border: none;
		outline: none;	
		font-size: 0;

		display: block;
		width: 9px;
		height: 9px;
		padding: 4px;

		background: $light;
		border: 1px solid $medium-dark;
		border-radius: 10px;	

		&:hover{
			cursor: pointer;
		}	

	}
}


//site credit

.site-credit h4{
	font-size: 15px;

	@media screen and (max-width: $sm) {
		font-size: 13px;
		margin-left: 10px;
	}
}

//cards

.card{
	.card-image{
		img{
			border-radius: 4px 4px 0px 0px;
		}	
	}

	.card-text{
		border-radius: 0px 0px 4px 4px;
	}
}