
//override body padding for landing page, needs to be turned off when the nav goes back in the site
body{
	background-color: $body-background-color;
	padding-top: 0;	
	@media screen and (max-width: $md) {
		padding-top: 0;
	}
	@media screen and (max-width: $sm) {
		padding-top: 0;
	}
}


//landing page spy nav

$dot: 16px;
$dot-padding: 8px;
$dot-padding-combined: $dot-padding*2;

#landing-page-nav{
	position: fixed;
	z-index: 6;
	bottom: 100px;
	right: 30px;

	@media screen and (max-width: $sm) {
		display: none;
	}

	li{
		width: $dot + $dot-padding-combined + 4px;

		a{
			margin-bottom: 5px;
			padding: $dot-padding;
			text-align: center;
			display: block;

			&:hover{
				width: 150px;

				span{
					text-indent: 0;
					height: 85px;
					width: 150px;
					margin-left: -100px;
					margin-top: 0px;
					margin-bottom: 0px;
					z-index: 7;
					background-size: 150px 85px;
					background-repeat: no-repeat;
					background-position: center center;
					background-color: transparent;
					$svg: svg-fill($blob-a, $brand);
					background-image: url('data:image/svg+xml;utf8,#{$svg}');
					border: none;
					color: white;
					transition: color .7s, height .15s;

					&.link-a{
						$svg: svg-fill-stroke($blob-a, $brand, $white, '8');
						background-image: url('data:image/svg+xml;utf8,#{$svg}');
					}
					&.link-b{
						$svg: svg-fill-stroke($blob-b, $brand, $white, '8');
						background-image: url('data:image/svg+xml;utf8,#{$svg}');
					}
					&.link-c{
						$svg: svg-fill-stroke($blob-c, $brand, $white, '8');
						background-image: url('data:image/svg+xml;utf8,#{$svg}');
					}
					&.link-d{
						$svg: svg-fill-stroke($blob-d, $brand, $white, '8');
						background-image: url('data:image/svg+xml;utf8,#{$svg}');
					}
					&.link-e{
						$svg: svg-fill-stroke($blob-e, $brand, $white, '8');
						background-image: url('data:image/svg+xml;utf8,#{$svg}');
					}
				}
			}
		}

		span{
			width: $dot;
			height: $dot;
			display: block;
			border: 1px solid white;
			background-color: $brand;
			border-radius: 10px;
			text-indent: -9999px;
			font-size: 13px;
			font-family: $font-secondary;
			text-transform: uppercase;
			text-align: center;
			vertical-align: middle;
			line-height: 100px;
			position: relative;
			color: transparent;
			transition: color .7s, height .15s;
		}

	}
}



//home intro

.home-intro-header{
	padding-top: 50px;
}

#tagline{
	font-size: 3vw;
	@media screen and (max-width: $lg) { font-size: 4vw; }
	@media screen and (max-width: $sm) {
		font-size: 4.5vw;
		margin-top: 50px;
		text-align: center;
	}
	@media screen and (max-width: $xs) {
		font-size: 6vw;
	}
}

.donate-col{
	display: block;
	@media screen and (max-width: $sm) {
		display: none !important;
	}
}

.responsive-donate-col{
	display: none !important;
	@media screen and (max-width: $sm) {
		display: flex !important;
	}
}

#logo-home{
	width: 200px;
	z-index: 6;
	transition: all .3s;

	@media screen and (max-width: $sm) {
		width: 130px;
	}

	&.fixed{
		position: fixed;
		top: 20px;
		left: 20px;
		width: 130px;
	}
}

#home-header-nav{
	display: block;
}



//donate button

.paypal-button-hidden-image{
	width: 1px;
	height: 1px;
	display: inline;
	float: left;
}

.paypal-button-image{
	width: 100%;
	max-width: 100%;
	height: auto;
}

.paypal-button-form{
	//outline: 1px solid red;
	width: 100px;
}



//video

#home-video{
	@media screen and (max-width: $xs) {
		width: 125%;
	}
}

#landing-video{
	border: 2px solid white;
	border-left: none;
}




//home announcement

#home-announcement{
	.container-fluid{
		position: relative;
	}
}

.announcement-background{
	z-index: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.mission-element{

}


//home-events

.home-event{
	max-width: 600px;
	transition: background .1s;
	padding: 2em;

	@media screen and (max-width: $sm) {
		padding: 1em;
	}

	*{
		color: $dark;
		transition: color .1s;
	}

	&:hover{
		background-color: $dark;

		*{
			color: $tan;
			transition: color .1s;
		}
	}
}



//staff and board modals

$modal-padding: 100px;
$modal-subtract: $modal-padding * 2;
$modal-padding-md: 40px;
$modal-subtract-md: $modal-padding-md * 2;

.modal{
	width: calc( 100vw - #{$modal-subtract} );
	height: calc( 100vh - #{$modal-subtract} );
	overflow: scroll;
	top: $modal-padding;
	border-radius: 10px;

	&.on{
		left: $modal-padding;
	}

	@media screen and (max-width: $md) {
		width: calc( 100vw - #{$modal-subtract-md} );
		height: calc( 100vh - #{$modal-subtract-md} );
		top: $modal-padding-md;

		&.on{
			left: $modal-padding-md;
		}
	}

}

#modal-close{
	top: $modal-padding - 7px;
	right: $modal-padding / 3.5;

	@media screen and (max-width: $md) {
		top: $modal-padding-md - 7px;
		right: 0px;
	}
}

.modal-person-email-link:hover{
	color: $dark;
}

#blanket{
	background: transparentize($dark, .1);
}

.modal-container{
	padding: 4vw;
}

.modal-swap-link{
	border-bottom: 2px solid transparent;

	&:hover{
		color: white;
		border-bottom: 2px solid white;
	}
}

.modal-swap-active{
	border-bottom: 2px solid white;
}



//contact

.contact-link-col:nth-child(1) .blob-background{
	@extend .blob-e;
}

.contact-link-col:nth-child(2) .blob-background{
	@extend .blob-c;
}

.contact-link-col:nth-child(3) .blob-background{
	@extend .blob-b;
}






