
//home intro

#home-intro{
	overflow: hidden;
}

.home-intro-top{
	height: 100vh;
	overflow: hidden;

	video{
		min-height: 100%;
		min-width: 100%;
		width: auto;
		height: auto;
		max-width: none;
		max-height: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	&:after{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		transition: all, .25s;
		background: transparentize( $dark, .8 );
	}
}

$home-intro-bottom-height: 250px;
$home-intro-bottom-height-md: 150px;
$speed: 2.5s;
$delay: 1.5s;

@keyframes home-slide-up { from { margin-top: 0; } to { margin-top: -$home-intro-bottom-height; } }
@keyframes home-slide-up-md { from { margin-top: 0; } to { margin-top: -$home-intro-bottom-height-md; } }


.home-intro-bottom{
	height: $home-intro-bottom-height;
	position: relative;
	@extend .d-flex;
	@extend .align-items-center;
	animation-fill-mode: forwards;
	animation: home-slide-up $speed ease $delay alternate 1 forwards running;

	@media screen and (max-width: $md) {
		height: $home-intro-bottom-height-md;
		animation: home-slide-up-md $speed ease $delay alternate 1 forwards running;
	}
}

.home-intro-curve{
	position: absolute;
	bottom: -2px;
	z-index: 2;
	width: 100%;
	height: 100%;
	right: 0;
	transform: scaleX(-1);

	@media screen and (max-width: $sm) {
		width: 150%;
		right: 0%;
	}

	svg{
		height: 100%;
	}
}

.tagline-container{
	@extend .d-flex;
	@extend .justify-content-end;
}

#tagline{
	position: relative;
	z-index: 3;
	font-size: 2.5vw;
	margin: 0;

	@media screen and (max-width: $sm) {
		font-size: 4vw;
	}

}


.sitewide-alert-on,.announcement-on{
	.home-intro-top{
		height: calc( 100vh - #{$sitewide-alert-height});
	}

	.home-intro-bottom{
		$temp: $home-intro-bottom-height - 50px;
		margin-top: -$temp;

		@media screen and (max-width: $md) {
			$temp-md: $home-intro-bottom-height-md - 50px;
			margin-top: -$temp-md;
		}
	}
}


#home-intro-video{
	z-index: -1;
}




//home announcement

#home-announcement{
	.container-fluid{
		position: relative;
	}
}

.announcement-background{
	z-index: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

//home-events

.home-event{
	max-width: 600px;
	transition: background .1s;
	padding: 2em;

	@media screen and (max-width: $sm) {
		padding: 1em;
	}

	*{
		color: $dark;
		transition: color .1s;
	}

	&:hover{
		background-color: $dark;

		*{
			color: $tan;
			transition: color .1s;
		}
	}
}


// what we do

.wwd-col{
	//@extend .d-flex;
	@extend .justify-content-center;
	margin-bottom: 1.5em;
}

.wwd-image{
	display: none;
	margin-bottom: 1em;

	svg{
		display: block;
		width: 100px;
		margin: 0 auto;
		path{
			fill: $brand;
		}
	}
}

.wwd-title{
	text-align: center;
	font-size: 30px;

	@media screen and (max-width: $lg) {
		font-size: 24px;
	}
	@media screen and (max-width: $md) {
		font-size: 21px;
	}
	@media screen and (max-width: $sm) {
		font-size: 15px;
	}

}

//about

#home-about{
	*{
		text-shadow: 0px 1px 6px $dark;
	}
}

#home-map{
	height: calc(70vh - #{$nav-height});
	@media screen and (max-width: $sm) {
		height: auto;
	}
}

#home-map-container{
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;

	iframe{
		@extend .background;
	}

	@media screen and (max-width: $sm) {
		padding-top: 0;
		height: 65vh;
	}

}

#home-map-text{
	@media screen and (min-width: $md+1) {
		position: absolute;	
		top: 0;
		left: 0;
		z-index: 2;
	}	

	//box-shadow: 0px 0px 9px $dark;

	.home-map-text-inner{
		height: auto;
		background: transparentize($brand,.1);
		padding: 1.2em;
		z-index: 2;

		@media screen and (max-width: $sm) {
			padding-top: 2em;
		}

		@media screen and (min-width: $md+1) {
			margin-top: 60px;
			margin-left: 60px;
			border-radius: 10px;
			width: 380px;
		}
	}

	h3{
		line-height: 1.2;
		margin-bottom: 1em;
		@extend .h2;
		color: white;
	}
}


//home featured artworks

$spacing: 20px;

.slick-featured-artworks{
	column-count: 2;
	column-gap: $spacing;
	margin-left: $spacing;
	margin-right: $spacing;

	@media screen and (max-width: $sm) {
		column-count: 1;
	}

	div{
		display: inline-block;
		margin-bottom: $spacing;
		width: 100%;


		.artwork-item-link{
			position: relative;
			height: 100%;
			overflow: hidden;
			&:hover{

				.artwork-item-image{
					transition: transform .25s;
					transform: scale(1.1);
				}

				.artwork-item-text{
					background: transparentize($dark, .5) !important;
					background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 60%) !important;
					background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 60%) !important;
					background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 60%) !important;
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ) !important;
				}

			}
		}

		.artwork-item-image{
			border-radius: 0;
			margin: 0;
			box-shadow: none;
			display: block;
			transition: transform .25s;
			transform: scale(1);

		}
		
		.artwork-item-text{
			// @extend .d-flex;
			// @extend .align-items-end;
			padding: 15px;
			background: none;
			box-shadow: none;
			position: absolute;
			top: auto;
			bottom: -$spacing;
			border-radius: 0;
			left: 0;
			width: 100%;
			height: auto;
			background: transparentize($dark, .5);
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 70%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 70%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 70%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );


			*{
				color: white;
				text-shadow: 0px 0px 2px black;
			}

		}

		.artwork-item-title{
			margin-bottom: 0em;
			width: 100%;
			display: block;
		}

		// .artwork-item-artist,.artwork-item-year,.artwork-item-location{
		// 	display: none;
		// 	width: 100%;
		// }

		.artwork-item{

		}

	}
}

