
$text-nav: (
	xs: (13px, 53px),
	sm: (12px, 60px),
	md: (14px, 53px),
	lg: (16px, 53px),
	xl: (19px, 53px)
	);

$curve-height: 390px;

#nav{
	top: 0;
	left: 0;
	width: 100%;
	height: $nav-height;
	padding-left: 15px;
	z-index: 7;
	transition: background 1s;

	&:hover{
		@extend .after;

		@media screen and (min-width: $sm+1) {
			.nav-menu-primary-item .nav-current{
				border-bottom-color: rgba(255,255,255,.5);

				&:hover{
					border-bottom-color: white;
				}
			}
		}

	}


	&.fixed{
		position: fixed; 
	}

	@media screen and (max-width: $md) {
		height: $nav-height-md;
	}

	@media screen and (max-width: $sm) {
		height: $nav-height-mobile;
		padding-left: 10px;
		padding-right: 10px;
		overflow: hidden;
	}

	#nav-background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		height: $nav-height-after;
		background: $brand;
		opacity: 0;
		transition: all .2s;

		svg{
			display: none;
			height: $nav-height-after;
			width: auto;
		}
	}

	#nav-menus{
		float: left;
		margin-left: 30px;
		position: relative;
		z-index: 1;
		@extend .clearfix;

		@media screen and (max-width: $lg) {
		}

		@media screen and (max-width: $md) {
			margin-left: 10px;
		}

		@media screen and (max-width: $sm) {
			clear: left;
			width: 100%;
			margin-left: 0;
			padding-bottom: 100px;
		}
	}


	//dropdown default state
	.sub-menu{
		
		@media screen and (min-width: $sm+1) {
			padding: 30px 0 0 0;
			width: 200px;
			z-index: 1;
			opacity: 0;
			transition: all .2s .1s;//out
			position: absolute;
			top: $nav-height;
			left: 0;
			visibility: hidden;
		}

		&#sub-menu-programs{
			@media screen and (min-width: $sm+1) {
				width: 330px;
				column-count: 2;
				column-gap: 20px;
			}

		}

		&#sub-menu-donate{
			@media screen and (min-width: $sm+1) {
				left: -110px;
				text-align: right;
			}

			@media screen and (min-width: $lg+1) {
				left: -85px;
			}
		}

		@media screen and (max-width: $sm) {
			position: static;
			transform: none;
			margin-left: 0;
			background: none;
			padding-top: 5px;
			width: 100%;
			padding-bottom: 20px;
			display: none;
		}

		li{

			a{
				font-size: 16px;
				text-shadow: none;
				background: none;
				display: block;
				padding: 10px 0;
				color: white;
				@extend .uppercase;
				@extend .tracked-less;
				height: auto;
				@extend .font-secondary;
				border: none;
				
				&:hover{
					text-decoration: underline;
				}
			}

			@media screen and (max-width: $sm) {
				padding: 0 !important;
				width: 100% !important;
				float: none;
				transform: none !important;
				padding: 0;
				margin-bottom: 5px;

				a{
					padding: 0;
					filter: none;
					font-size: 15px;

					&:after{
						display: none;
					}
				}
			}

		}
	}


	.nav-menu-primary-item{
		float: left;
		position: relative;
		z-index: 3;
		margin: 0 60px 0 0;
		height: 100%;

		&:hover{
			&>a{

				@media screen and (min-width: $sm+1) {
					border-bottom: 2px solid white;
				}
				.icon:before{
					transition: transform .5s;
					transform: rotate(-180deg);
				}
			}
		}

		@media screen and (max-width: $lg) {
			margin-right: 40px;
		}

		@media screen and (max-width: $md) {
			margin-right: 20px;
		}

		@media screen and (max-width: $sm) {
			display: block;
			width: 100%;
			height: auto;
			a{
				width: 100%;
				display: block;
				text-align: center;
			}
		}


		a{
			display: inline-block;
			height: $nav-height - 0px;
			transition: all .2s;
			border-bottom: 2px solid transparent;

			@media screen and (max-width: $lg) {
				font-size: 17px;
			}

			@media screen and (max-width: $md) {
				font-size: 16px;
			}

			@media screen and (max-width: $sm) {
				font-size: 16px;
				padding: 10px;
				height: auto;
			}

			&.nav-current{
				@media screen and (min-width: $sm+1) {
					border-bottom: 2px solid white;
				}
			}

			@media screen and (min-width: $sm+1) {
				text-shadow: 1px 1px 1px black;
			}

			.icon:before{
				text-transform: none;
				display: inline-block;
				color: white;
				transition: transform .5s;
				transform: rotate(0deg);
			}

			&:hover{
				@media screen and (min-width: $sm+1) {

				}
			}
		}

		//dropdown and mobile nav open states
		&.has-sub-menu{
			position: relative;
			z-index: 8;

			&.open{

				@media screen and (min-width: $sm+1) {

					.sub-menu{
						visibility: visible;
						transition: all .3s .0s;//in
						opacity: 1;
						transform: translate(0);
						//display: block;

						li{

							a{
								text-shadow: none;
								border-bottom: none;
							}

						}

					}
				}


				@media screen and (max-width: $sm) {
					.icon:before{
						transform: rotate(-180deg);
						top: -2px;
					}
					.sub-menu{
						display: block;
					}
				}

			}
		}

	}


	&.after{
		height: $nav-height-after;

		#nav-background{
			opacity: 1;
			transition: all .2s;
		}

		@media screen and (max-width: $sm) {
			height: $nav-height-mobile;
			background: $brand;

			#nav-background{
				display: none;
			}
		}

		#logo {
			width: 150px;
			-webkit-filter: none;

			@media screen and (max-width: $md) {
				width: 140px;
				a{
					padding-top: 16px;
				}
			}

			@media screen and (max-width: $sm) {
				width: 110px;

				a{
					padding-top: 12px;
				}
			}
		}

		.nav-menu-primary-item a{
			text-shadow: none;
		}

		#nav-menu-donate-item{

			.extra-text{
				text-shadow: none;
			}

		}

		&.open{
			height: auto;
		}

	}

}//#nav


//nav open on desktop state
.dropdown-on{

	#nav{
		//height: 100vh;
		height: $curve-height;
		//overflow: scroll;

		#nav-background{
			display: block;
			@media screen and (max-width: $sm) {
				display: none;
			}
		}

		.nav-menu-primary-item a{
			//border-bottom: none !important;
		}
	}


}



//LOGOS


#logo{
	width: 150px;
	float: left;
	position: relative;
	z-index: 2;
	@media screen and (min-width: $sm+1) {
		filter: drop-shadow(0px 1px 1px transparentize(black, .2));
	}

	@media screen and (max-width: $md) {
		width: 140px;
		a{
			padding-top: 16px;
		}
	}

	@media screen and (max-width: $sm) {
		width: 110px;
	}

	a{
		padding: 13px;
		padding-bottom: 5px;
		padding-left: 0px;

		@media screen and (max-width: $sm) {
			padding: 12px 20px 10px 0px;
		}
	}
}

.logo{
	a{
		display: block;
	}
}




//mobile nav

.hamburger{
	display: none;
	position: fixed;
	right: 15px;
	top: 0px;
	height: 40px;
	width: 28px;
	z-index: 10;
	padding-top: 21px;

	.hamburger-line{
		display: block;
		width: 100%;
		height: 2px;
		background: white;
		margin-bottom: 8px;
		position: relative;
		transition: transform .25s;
	}

	@media screen and (max-width: $sm) {
		display: block;
	}
}


//mobile menu open
.menu-open{
	overflow: hidden;

	#nav{
		@media screen and (max-width: $sm) {
			height: 100vh;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			background: $brand;	
		}
	}

	.hamburger{
		padding-top: 18px;
	}

	.hl-1{
		@include transform(rotate( 45deg ));
		top: 10px;

	}
	.hl-2,.hl-3{
		@include transform(rotate( -45deg ));
		top: 0px;
	}	

	.hl-3{
		top: -10px;
	}
}

#nav-curve-outer{
	position: fixed;
	width: 107vw;
	height: $curve-height;
	top: 0;
	left: 0;
	z-index: 6;
	transition: all 1s; //out
	transform: translate(-25%,-150%);
	filter: drop-shadow(0px 2px 5px transparentize($medium, .5));
	overflow: hidden;

	@media screen and (max-width: 1400px) {
		width: 120vw;
	}

	@media screen and (max-width: $lg) {
		width: 120vw;
	}

	@media screen and (max-width: $md) {
		width: 140vw;
	}

	@media screen and (max-width: $sm) {
		display: none;
	}

	svg{
		width: 100%;
		height: 100%;
		path{
			fill: $brand;
		}
	}
}

.curve-on{

	#nav{
		@extend .after;
	}

	@media screen and (min-width: $sm+1) {
		#nav-curve-outer{
			transition: all .3s; //in
			transform: translate(0);
		}
		#nav-blanket{
			display: block;
		}
	}
}


.nav-menu-primary-item>a,#nav-menu-donate-item .extra-text{
	color: white; 
	text-transform: uppercase;
	@extend .tracked-less;
	@extend .font-secondary;
	padding: 30px 3px 0px 3px;
	font-size: 21px;
	display: inline-block;

	@media screen and (max-width: $lg) {
		font-size: 17px;
	}

	@media screen and (max-width: $md) {
		padding-top: 35px;

		font-size: 16px;
	}

	@media screen and (max-width: $sm) {
		font-size: 16px;
	}

}

#nav-menu-donate-item{
	width: 120px;
	height: $nav-height;
	margin: 0;
	padding: 0;

	@media screen and (max-width: $md) {
		width: 80px;
	}

	@media screen and (max-width: $sm) {
		width: 100%;
		height: 100%;
	}

	form{
		margin: 0;
		padding: 0;
		height: $nav-height;
		z-index: 3;

		@media screen and (max-width: $sm) {
			width: 100%;
		}
	}
	input{
		border: none;
		margin: 0;
		padding: 0;
	}

	.paypal-button-image{
		width: 121px;
		height: 100%;

		@media screen and (max-width: $md) {
			width: 80px;
		}

		@media screen and (max-width: $sm) {
			width: 100%;
		}
	}

	.extra-text{
		position: absolute;
		color: white;
		text-transform: uppercase;
		@extend .tracked-less;
		margin: 0;



		@media screen and (min-width: $sm+1) {
			text-shadow: 1px 1px 1px black;
		}
		z-index: -2;

		@media screen and (max-width: $sm) {
			width: 100%;
			text-align: center;
			padding-top: 15px;

			@media screen and (max-width: $lg) {
				//font-size: 15px;
			}
		}
	}

	.paypal-button-hidden-image{
		display: none;
	}
}


#nav-blanket{
	display: none;
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}




