
$text-nav: (
	xs: (13px, 53px),
	sm: (12px, 60px),
	md: (14px, 53px),
	lg: (16px, 53px),
	xl: (19px, 53px)
	);


#nav{
	top: 0;
	left: 0;
	width: 100%;
	height: $nav-height;
	//overflow: hidden;
	padding-left: 15px;
	z-index: 7;
	//transition: all 1s;

	&.fixed{
		position: fixed; 
	}

	@media screen and (max-width: $md) {
		height: $nav-height-md;
	}

	@media screen and (max-width: $sm) {
		height: $nav-height-mobile;
		padding-left: 10px;
		padding-right: 10px;
		overflow: hidden;
	}

	#nav-background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		height: $nav-height-after;
		background: $brand;
		display: none;

		svg{
			display: none;
			height: $nav-height-after;
			width: auto;
		}
	}

	#nav-menus{
		padding-top: 27px;
		float: left;
		margin-left: 30px;

		@media screen and (max-width: $lg) {
			padding-top: 31px;
		}

		@media screen and (max-width: $md) {
			padding-top: 23px;
			margin-left: 10px;
		}

		@media screen and (max-width: $sm) {
			clear: left;
			width: 100%;
			margin-left: 0;
		}
	}


	//dropdown default state
	.sub-menu{
		position: absolute;
		top: 35px;
		padding-top: 35px;
		width: 400px;
		transform: translate(-50%,-0%);
		margin-left: 50%;
		display: none;

		@media screen and (max-width: $sm) {
			position: static;
			transform: none;
			margin-left: 0;
			background: none;
			padding-top: 5px;
			width: 100%;
			padding-bottom: 20px;
		}

		li{
			width: 50%;
			float: left;
			padding: 25px 0;
			@extend .flex-center;
			position: relative;

			&:first-child{
				width: auto;
				float: none;
				margin-left: auto;
				margin-right: auto;
				padding-top: 10px;
				padding-bottom: 10px;
			}

			&:nth-child(1),&:nth-child(6),&:nth-child(11){
				a{
					@extend .blob-a;
				}
			}
			&:nth-child(2),&:nth-child(7),&:nth-child(12){
				a{
					@extend .blob-b;
				}
			}
			&:nth-child(3),&:nth-child(8),&:nth-child(13){
				a{
					@extend .blob-c;
				}
			}
			&:nth-child(4),&:nth-child(9),&:nth-child(14){
				a{
					@extend .blob-d;
				}
			}
			&:nth-child(5),&:nth-child(10),&:nth-child(15){
				a{
					@extend .blob-e;
				}
			}

			&:nth-child(2),&:nth-child(3),&:nth-child(4){
				width: 33%;
			}

			&:nth-child(2){
				transform: translate(0,-40%);
			}

			&:nth-child(3){

			}

			&:nth-child(4){
				transform: translate(0,-30%);
			}

			&:nth-child(5){
				width: 50%;
				transform: translate(0,-30%);
			}

			&:nth-child(6){
				width: 50%;
				transform: translate(0,-37%);
			}

			&:nth-child(7){
				width: 50%;
				float: none;
				margin-left: auto;
				margin-right: auto;
				transform: translate(0,-70%);
			}

			&:nth-child(8){
				transform: translate(0,-100%);
			}

			&:nth-child(9){
				transform: translate(0,-110%);
			}

			&:nth-child(10){
				transform: translate(0,-130%);
				width: 50%;
				float: none;
				margin-left: auto;
				margin-right: auto;
			}

			a{
				text-transform: none;
				font-size: 20px;
				display: block;
				width: 100%;
				text-align: center;
				letter-spacing: 0.03em;
				padding: 30px 0;
				filter: drop-shadow(0px 2px 3px transparentize($dark, .2));
			}

			@media screen and (max-width: $sm) {
				padding: 0 !important;
				width: 100% !important;
				float: none;
				transform: none !important;
				padding: 0;
				margin-bottom: 5px;

				a{
					padding: 0;
					filter: none;
					font-size: 17px;

					&:after{
						display: none;
					}
				}
			}

		}
	}


	.nav-menu-primary-item{
		display: inline-block;
		margin-right: 50px;

		@media screen and (max-width: $lg) {
			margin-right: 30px;
		}

		@media screen and (max-width: $md) {
			margin-right: 10px;
		}

		@media screen and (max-width: $sm) {
			display: block;
			width: 100%;
			a{
				width: 100%;
				display: block;
				text-align: center;
			}
		}

		a{
			color: white;
			@extend .font-secondary;
			@extend .uppercase;
			@extend .tracked;
			display: inline-block;
			padding: 10px;
			transition: all .2s;

			@media screen and (min-width: $sm+1) {
				text-shadow: 1px 1px 1px black;
			}
			

			@media screen and (max-width: $md) {
				font-size: 16px;
			}

			.icon:before{
				text-transform: none;
				display: inline-block;
				color: white;
			}

			&:hover{
				@media screen and (min-width: $sm+1) {
					transition: all .2s;
					transform: scale(1.1);

				}
			}
		}

		//dropdown and mobile nav open states
		&.has-sub-menu{
			position: relative;
			z-index: 8;

			$as: .9s;
			$as2: .3s;
			@keyframes fade-in { from { opacity: 0; } to { opacity: 1; top: 0px; } }
			@keyframes slide-down { from { } to { top: 0px; } }


			&.open{
				@media screen and (min-width: $sm+1) {
					.sub-menu{
						display: block;

						li{
							opacity: 0;
							animation-fill-mode: forwards;
							animation: fade-in $as ease .04s alternate 1 forwards running, slide-down $as2 ease .04s alternate 1 forwards running;
							top: -10px;
							

							&:nth-child(4){
								animation: fade-in $as ease .0s alternate 1 forwards running, slide-down $as2 ease  .0s alternate 1 forwards running;
								top: -10px;
							}

							&:nth-child(2){
								animation: fade-in $as ease .08s alternate 1 forwards running, slide-down $as2 ease .08s alternate 1 forwards running;
								top: -8px;
							}

							&:nth-child(6){
								animation: fade-in $as ease .06s alternate 1 forwards running, slide-down $as2 ease .06s alternate 1 forwards running;
								top: -4px;
							}

							&:nth-child(5){
								animation: fade-in $as ease .02s alternate 1 forwards running, slide-down $as2 ease .02s alternate 1 forwards running;
								top: -0px;
							}

							&:nth-child(8){
								animation: fade-in $as ease .1s alternate 1 forwards running, slide-down $as2 ease  .1s alternate 1 forwards running;
								top: -2px;
							}

							&:nth-child(9){
								animation: fade-in $as ease .12s alternate 1 forwards running, slide-down $as2 ease .12s alternate 1 forwards running;
								top: -6px;
							}

							&:nth-child(7){
								animation: fade-in $as ease .14s alternate 1 forwards running, slide-down $as2 ease .14s alternate 1 forwards running;
								top: -8px;
							}

							&:nth-child(3){
								animation: fade-in $as ease .16s alternate 1 forwards running, slide-down $as2 ease .16s alternate 1 forwards running;
								top: -4px;
							}

							&:nth-child(10){
								animation: fade-in $as ease .18s alternate 1 forwards running, slide-down $as2 ease .18s alternate 1 forwards running;
								top: -5px;
							}

							a{
								text-shadow: none;
							}

						}//li

					}
				}


				@media screen and (max-width: $sm) {
					.icon:before{
						transform: rotate(180deg);
						top: -2px;
					}
					.sub-menu{
						display: block;
					}
				}

			}
		}

	}




	&.after{
		height: $nav-height-after;

		#nav-background{
			display: block;
		}

		@media screen and (max-width: $sm) {
			height: $nav-height-mobile;
			background: $brand;

			#nav-background{
				display: none;
			}
		}

		#logo {
			width: 150px;
			-webkit-filter: none;

			a{
				padding-top: 13px;
				padding-bottom: 5px;
			}

			@media screen and (max-width: $sm) {
				width: 110px;

				a{
					padding-top: 12px;
				}
			}

		}

		#nav-menus{
			padding-top: 18px;
		}

		.nav-menu-primary-item a{
			text-shadow: none;
		}
	}

	&.open{
		height: 100vh;
		overflow: scroll;
	}

}


.dropdown-on{
	#nav{
		height: 100vh;
		overflow: scroll;
	}

	#nav-background{
		display: block;
		@media screen and (max-width: $sm) {
			display: none;
		}
	}
}


//LOGOS

#logo{
	width: 160px;
	float: left;
	@media screen and (min-width: $sm+1) {
		filter: drop-shadow(0px 1px 1px transparentize(black, .2));
	}

	@media screen and (max-width: $md) {
		width: 130px;
	}

	@media screen and (max-width: $sm) {
		width: 110px;
	}

	a{
		padding: 20px;
		padding-left: 0px;

		@media screen and (max-width: $sm) {
			padding: 12px 20px 10px 0px;
		}
	}
}

.logo{
	a{
		display: block;
	}
}


//mobile nav

.hamburger{
	display: none;
	position: fixed;
	right: 15px;
	top: 0px;
	height: 40px;
	width: 28px;
	z-index: 10;
	padding-top: 21px;

	.hamburger-line{
		display: block;
		width: 100%;
		height: 2px;
		background: white;
		margin-bottom: 8px;
		position: relative;
		transition: transform .25s;
	}

	@media screen and (max-width: $sm) {
		display: block;
	}
}


.menu-open{

	#nav{
		@media screen and (max-width: $sm) {
			height: 100vh;
			overflow: scroll;
			background: $brand;	
		}
	}

	.hamburger{
		padding-top: 18px;
	}

	.hl-1{
		@include transform(rotate( 45deg ));
		top: 10px;

	}
	.hl-2,.hl-3{
		@include transform(rotate( -45deg ));
		top: 0px;
	}	

	.hl-3{
		top: -10px;
	}
}


