
/* page template */

// .hero-gradient{
// 	background: -moz-linear-gradient(top, rgba(107,164,66,1) 2%, rgba(107,164,66,0) 30%);
// 	background: -webkit-linear-gradient(top, rgba(107,164,66,1) 2%,rgba(107,164,66,0) 30%);
// 	background: linear-gradient(to bottom, rgba(107,164,66,1) 2%,rgba(107,164,66,0) 30%);
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ba442', endColorstr='#006ba442',GradientType=0 );
// }

.page-hero{
	height: calc(85vh - #{$nav-height});
	position: relative;
}

$svg-height: 100px;
$svg-padding: 50px;
$svg-height-md: 50px;
$svg-padding-md: 50px;
$speed: 1.5s;
$delay: 1.9s;

@keyframes slide-up { from { margin-top: 0; } to { margin-top: -$svg-height; } }

.page-title-container{
	position: relative;
	z-index: 1;
	padding-top: $svg-padding;

	@media screen and (min-width: $md+1) {
		animation-fill-mode: forwards;
		animation: slide-up $speed ease $delay alternate 1 forwards running;	
	}

	@media screen and (max-width: $md) {
		margin-top: -$svg-height-md;
		padding-top: $svg-padding-md;
	}
}

.page-hero-curve{
	position: absolute;
	top: 0;
	width: 100%;
	height: $svg-height;
	left: 0;

	@media screen and (max-width: $md) {
		height: $svg-height-md;
	}

	svg{
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}
}

.hero-back{
	@media screen and (max-width: $sm) {
		width: 100%;
		order: 2;
	}
}

.hero-back-link{
	position: relative;
	top: 15px;
	font-size: 16px;
	text-transform: uppercase;
	@extend .tracked-less;
	font-weight: bold;

	@media screen and (max-width: $lg) {
		font-size: 14px;
	}

	@media screen and (max-width: $md) {
		font-size: 13px;
		top: 45px;
	}

	@media screen and (max-width: $sm) {
		top: 0;
		font-size: 12px;
	}
}



.sticky-nav-after{
	.page-content{
		margin-top: 100px;
	}
}


.page-nav{
	padding: 20px 0 10px 0;
	z-index: 5;
	min-height: 70px;
	width: 100%;
	left: 0;

	@media screen and (max-width: $sm) {
		min-height: 50px;
	}

	ul{
		text-align: right;
	}

	li{
		display: inline-block;
		margin-left: 20px;

		&:last-child{
			a{
				padding-right: 0;
			}
		}

		a{
			display: block;
			font-size: 16px;
			color: lighten( $dark, 10% );
			@extend .tracked-less;
			@extend .uppercase;
			padding: 12px 10px 8px 10px;
			font-weight: 700;

			@media screen and (min-width: $sm) {
				transition: transform .05s;
			}
			
			@media screen and (max-width: $md) {
				font-size: 13px;
				padding: 5px;
			}

			@media screen and (max-width: $xs) {
				font-size: 11px;
				padding: 3px;
			}

			&:hover{
				transform: scale(1.1);
			}
		}
	}

	&.after{
		position: fixed;
		top: $nav-height - 10px;
		background: rgb(247,247,247);
		border-bottom: 1px solid rgb(245,245,245);

		@media screen and (max-width: $sm) {
			top: $nav-height-mobile - 10px;
		}
	}
}