
/* page template */

.hero-gradient{
	background: -moz-linear-gradient(top, rgba(107,164,66,1) 5%, rgba(107,164,66,0) 100%);
	background: -webkit-linear-gradient(top, rgba(107,164,66,1) 5%,rgba(107,164,66,0) 100%);
	background: linear-gradient(to bottom, rgba(107,164,66,1) 5%,rgba(107,164,66,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ba442', endColorstr='#006ba442',GradientType=0 );
}

.page-hero{
	height: calc(90vh - #{$nav-height});
	@extend .hero-gradient;
	position: relative;

	.page-hero-intro{
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 1;
	}

	.page-hero-curve{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
		left: 0;

		svg{
			position: absolute;
			height: 100%;
		}
	}

	.page-hero-text{
		padding-top: 8vw;
	}
}

.sticky-nav-after{
	.page-content{
		margin-top: 100px;
	}
}

.page-nav{
	padding: 20px 0 10px 0;
	background: white;
	z-index: 6;
	min-height: 70px;
	width: 100%;
	left: 0;

	ul{
		text-align: right;
	}

	li{
		display: inline-block;
		margin-left: 5px;


		&:last-child{
			a{
				padding-right: 0;
			}
		}

		a{
			display: block;
			font-size: 14px;
			color: $dark;
			@extend .tracked-less;
			@extend .uppercase;
			padding: 10px;

			@media screen and (min-width: $sm) {
				transition: transform .05s;
			}
			
			@media screen and (max-width: $md) {
				font-size: 13px;
				padding: 5px;
			}

			@media screen and (max-width: $xs) {
				font-size: 11px;
				padding: 3px;
			}

			&:hover{
				transform: scale(1.1);
			}
		}
	}

	&.after{
		position: fixed;
		top: $nav-height - 10px;
		border-bottom: 1px solid rgb(247,247,247);

		@media screen and (max-width: $sm) {
			top: $nav-height-mobile - 10px;
		}
	}
}