
/* page template */

.hero-gradient{
	background: -moz-linear-gradient(top, rgba(107,164,66,1) 5%, rgba(107,164,66,0) 100%);
	background: -webkit-linear-gradient(top, rgba(107,164,66,1) 5%,rgba(107,164,66,0) 100%);
	background: linear-gradient(to bottom, rgba(107,164,66,1) 5%,rgba(107,164,66,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ba442', endColorstr='#006ba442',GradientType=0 );
}

.page-hero{
	height: calc(85vh - #{$nav-height});
	@extend .hero-gradient;
	position: relative;
}

$svg-height: 100px;
$svg-padding: 50px;
$svg-height-md: 50px;
$svg-padding-md: 50px;

.page-title-container{
	position: relative;
	z-index: 1;
	margin-top: -$svg-height;
	padding-top: $svg-padding;
	//border: 1px solid black;

	@media screen and (max-width: $md) {
		margin-top: -$svg-height-md;
		padding-top: $svg-padding-md;
	}
}

.page-hero-curve{
	position: absolute;
	top: 0;
	width: 100%;
	height: $svg-height;
	left: 0;

	@media screen and (max-width: $md) {
		height: $svg-height-md;
	}

	svg{
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}
}


.sticky-nav-after{
	.page-content{
		margin-top: 100px;
	}
}


.page-nav{
	padding: 20px 0 10px 0;
	background: white;
	z-index: 6;
	min-height: 70px;
	width: 100%;
	left: 0;

	ul{
		text-align: right;
	}

	li{
		display: inline-block;
		margin-left: 5px;


		&:last-child{
			a{
				padding-right: 0;
			}
		}

		a{
			display: block;
			font-size: 17px;
			color: $dark;
			@extend .tracked-less;
			@extend .uppercase;
			padding: 10px;

			@media screen and (min-width: $sm) {
				transition: transform .05s;
			}
			
			@media screen and (max-width: $md) {
				font-size: 13px;
				padding: 5px;
			}

			@media screen and (max-width: $xs) {
				font-size: 11px;
				padding: 3px;
			}

			&:hover{
				transform: scale(1.1);
			}
		}
	}

	&.after{
		position: fixed;
		top: $nav-height - 10px;
		border-bottom: 1px solid rgb(247,247,247);

		@media screen and (max-width: $sm) {
			top: $nav-height-mobile - 10px;
		}
	}
}