
@import "bourbon";
@import "bootstrap/bootstrap-grid";
@import "slick.scss";

//definitions
@import "definitions/variables";
@import "definitions/type-sizes";
@import "definitions/mixins";

//utilities
@import "utilities/reset";
@import "utilities/sizing";
@import "utilities/margins-and-padding";
@import "utilities/backgrounds";
@import "utilities/modals";
@import "utilities/slick-components";
@import "utilities/helpers";
@import "utilities/type-size-mixin/type-size__mixin"; // thanks to mmarol
@import "utilities/jquery-accordian";

//site components
@import "site/typography";
@import "site/general";
//@import "utilities/forms";
@import "site/nav";
@import "site/menus";
@import "site/footer";
@import "site/wysiwyg";

//site pages
@import "site/page";
@import "site/home";
@import "site/about";
