
/* Backgrounds */


//background colors

.bg-white{
	background: #ffffff;
}

.bg-ultra-light{
	background: $ultra-light;
}

.bg-light{
	background: $light;
}

.bg-medium{
	background: $medium;
}

.bg-dark{
	background: $dark;
}

.bg-brand{
	background: $brand;
}


//background layouts

.background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.block-background{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-size: cover;
	background-position: center top;
	
	&:after{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
	    transition: all, .25s;
	}

	&.mask-dark{
		&:after{
			background: transparentize( $dark, .75 );
		}
	}
}
