

.modal{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9;
	@include transition(transform $modal-transition);

	@media only screen and (min-width: 1025px){
		@include transition(transform $modal-transition);
		@include transform(translate(150%, 0%));
	}
	@media only screen and (max-width: 1024px){
		left: 150%;
	}

	&.on{
		@media only screen and (min-width: 1025px){
			@include transition(transform $modal-transition);
			@include transform(translate(0%, 0%));
		}
		@media only screen and (max-width: 1024px){
			left: 0%;
		}
	}

	&.scroll{
		overflow: scroll;
	}
}

#modal-close{
	position: fixed;
	top: 20px;
	right: 3px;
	height: 40px;
	width: 40px;
	z-index: 10;
	text-align: center;

	@include transition(transform $modal-transition);
	@include transform(translate(100px, 0%));

	.icon:before{
		font-size: 50px;
		line-height: 42px;
	}
}

#blanket{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 8;
	left: 200%;
	@include transition(opacity .1s);
	opacity: 0;
	background: transparentize($ultra-light, .5);
}

//body styles
.modal-on{
	overflow: hidden;

	#modal-close{
		@include transform(translate(0%, 0%));
	}

	#blanket{
		left: 0;
		opacity: 1;
	}

	.modal-person-blanket{
		opacity: 1;
	}

}
